
.tooltip{
position:absolute;
left:-2000px;
background-color:#dedede;
padding:5px;
border:1px solid #fff;
width:550px;
height:250px;
}

.tooltip p{
margin:0;
padding:0;
color:#fff;
background-color:#222;
padding:5px 5px;
width:540px;
height:240px;
}